<h3>Датчик номер {{sensorId}} {{sensorStatus}}</h3>
<button [disabled]="!allowNewSensors" (click)="onCreateSensor()">Добавить датчик</button>
<p>{{sensorCreationStatus}}</p>

<input type="text" class="form-control" [(ngModel)]="sensorSn" />
<p>{{sensorSn}}</p>
